<% include partials/header.ejs %>
<form action="/results">

    Keyword: <input type="text" name="keyword">
    <br><br>
    Orientation:
    <select id="orientation" name="select">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
    </select>
    <button id="searchbtn">Search</button>

</form>
<br>

<img src='<%= images.hits[Math.floor(Math.random() * images.hits.length)].largeImageURL %>' class="rounded" width='250'>
<div>Likes: <%=images.hits[Math.floor(Math.random() * images.hits.length)].likes%></div>
<br>
<img src='<%= images.hits[Math.floor(Math.random() * images.hits.length)].largeImageURL %>' class="rounded" width='250'>
<div>Likes: <%=images.hits[Math.floor(Math.random() * images.hits.length)].likes%></div>
<br>
<img src='<%= images.hits[Math.floor(Math.random() * images.hits.length)].largeImageURL %>' class="rounded" width='250'>
<div>Likes: <%=images.hits[Math.floor(Math.random() * images.hits.length)].likes%></div>
<br>
<img src='<%= images.hits[Math.floor(Math.random() * images.hits.length)].largeImageURL %>' class="rounded" width='250'>
<div>Likes: <%=images.hits[Math.floor(Math.random() * images.hits.length)].likes%></div>


</body>
</html>