<% include partials/header.ejs %>
<form action="/results">

    Keyword: <input type="text" name="keyword">
    <br><br>
    Orientation:
    <select id="orientation" class="select-css" name="select">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
    </select>
    <button id="searchbtn" class="btn btn-outline-primary">Search</button>

</form>
<br>
<div>Likes: <%=image1Like%></div>
<img src='<%= image1%>' class="rounded" width='250'>
<br>
<div>Likes: <%=image2Like%></div>
<img src='<%= image2%>' class="rounded" width='250'>
<br>
<div>Likes: <%=image3Like%></div>
<img src='<%= image3 %>' class="rounded" width='250'>
<br>
<div>Likes: <%=image4Like%></div>
<img src='<%= image4%>' class="rounded" width='250'>
<br><br><br><br>

</body>
</html>