<% include partials/header.ejs %>
<form action="/results">

    Keyword: <input type="text" name="keyword">
    <br><br>
    Orientation:
    <select id="orientation" name="select">
        <option value="horizontal">Horizontal</option>
        <option value="vertical">Vertical</option>
    </select>
    <button id="searchbtn">Search</button>

</form>
<br>

<img src='<%= images.hits[0].largeImageURL %>' width='250'>
<div>Likes: <%=images.hits[0].likes%></div>
<br>
<img src='<%= images.hits[1].largeImageURL %>' width='250'>
<div>Likes: <%=images.hits[1].likes%></div>
<br>
<img src='<%= images.hits[2].largeImageURL %>' width='250'>
<div>Likes: <%=images.hits[2].likes%></div>
<br>
<img src='<%= images.hits[3].largeImageURL %>' width='250'>
<div>Likes: <%=images.hits[3].likes%></div>


</body>
</html>